NEXT_PUBLIC_USER_SERVICE_BASE_URL=http://localhost:8001 #  base URL for the user service
NEXT_PUBLIC_ACS_API_URL=http://localhost:8002 #  base URL for the ACS API
NEXT_PUBLIC_APP_URL=http://localhost:3000 #  base URL for the application where the frontend is running
NEXT_PUBLIC_AI_SERVICE_BASE_URL=http://localhost:8003 #  base URL for the AI service
NODE_ENV=development
